body {
    display: grid;
    grid-template-columns: 1fr 2fr 1 fr;
    grid-template-areas: 
    "header header header"
    ". navigation ."
    ". name ."
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: lightblue;
}

nav {
    grid-area: navigation;
    background-color: lightcoral;
}

main {
    grid-area: main;
    background-color: lightgrey;
}

footer {
    grid-area: footer;
    background-color: lightblue;
}

@media screen and (min-width: 700px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
}