/* Student: earl0048 */
/* Main CSS */

.grid-container {
    background-color: lightblue;
    padding: 1 rem;
    display: grid;
    /*grid-template-columns: 400px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px;
}

.box {
    background-color: lightcoral;
    border: 2px solid black;
}

