/* Student: earl0048 */
/* Main CSS */

/* On mobile: one columns
On tablet: (700px): 2 columns
On laptop (1200px): 3 columns */

.grid-container {
    background-color: lightblue;
    padding: 1 rem;
    display: grid;
    /*grid-template-columns: 400px;*/
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px;*/
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    gap: 1rem;
    gap: 1rem 2rem;

}

.box {
    background-color: lightcoral;
    border: 2px solid black;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 50px)
}

.box12 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.box22 {
    grid-row: 3/5;
}

.box32 {
    grid-column: 2/4;
    grid-row: 3/5;
}

.box42 {
    grid-column: 1/4;
}

.box52 { 
    grid-column: 4/6;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 40px)
}

.box13 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

.box23 {
    grid-row: 1/ span 3;
}

.box33 {
    grid-column: 1/ span 2;
}

.box53 {
    grid-column: 2/ span 2;
}

.box63 {
    grid-column: 1/ span 3;
}


.grid-container4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, 20px);
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}

.sun {
    grid-area: a;
}

.mon {
    grid-area: b;
}

.tues {
    grid-area: c;

}

.wed {
    grid-area: d;
}

@media screen and (min-width: 700px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .grid-container4{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "a b b"
        "c d d";
    }
}

@media screen and (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat (3, 1fr);
    }
}

@media screen and (min-width: 1300px) {
    .grid-container{
        grid-template-columns: 200px 1fr 50px 2fr 1fr;
    }
}

